.tgl{
    z-index: 100;
}

.img-crop{
	width: 42%;
	max-width: 256px;
}

.modal{
	background:rgb(0,0,0,0.8);
}

textarea{
	resize:vertical;
}
table tr th{
	text-align: center;
}

.pd-l{
	padding-left: 0;
}
.pd-r{
	padding-right: 0;
}
.btn-add{
	margin-top: -5px;
}

/*v_master*/
.flag-size{
	height: 51px;
	margin-top: -3px;
}
/* Home */
.video-size{
	margin:0 auto;
	display: block;
	height: 20em;
}
.bg-black1{
	background-color: #000;
}
.color-red{
	color: #FF0000;
}

.panel-footer > .panel-save{
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	text-align: right;
}


.img-center{
	margin:0 auto;
	display: block;
}

.form-inline .form-group .input-group input {
    width:400px;
}

.hide button {
	display: none;
}