body{font-family: sans-serif;}
.logo{
	background: url("../../assets/img/logo-kindsfun.png") no-repeat scroll 12px 53px rgba(0, 0, 0, 0);
	background-size: 82%;
    height: 300px;
    margin: 0 auto;
    width: 300px;
}
.welcome{
	color: #333;
    font-size: 25px;
    font-weight: normal;
    margin: 13px 0;
    text-align: center;
}
.form-signin{
  margin: 0 auto;
  max-width: 400px;
  padding: 15px;
}
input{margin-bottom: 10px;}
.line{
	background-position: center;
	width: 1120px;
	height: 62px;
	margin: 0 auto;
}
@media (min-width: 1500px ) {
  section{min-height: 633px;}
}