html{
  overflow-x: hidden;
}

section,
.content{
  padding-top: 30px;
  padding-bottom: 30px;
}

.home{
  padding-top: 60px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

section.no-banner{
  padding-top: 160px;
  padding-bottom: 80px;
}

.description{
  margin-top: 25px;
  margin-bottom: 25px;
}

.shops{
  margin-top: 50px;
  margin-bottom: 50px;
}

.divider{
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}

table td{
  vertical-align: middle;
}

header.video-title{
  margin-bottom: 0;
}

header.main-header{
  margin-top: 50px;
  margin-bottom: 50px;
}

footer{
  margin-top: 0;
  padding-top: 15px;
  background-color: #fff;
}

footer .footer-border:not(:last-child){
  border-right: 2px solid  #fbd5d5;
  border-bottom: 0;
}

@media only screen and (max-width: 1200px) {

  /*footer*/
  footer .footer-border{
    border-right: 2px solid  #fbd5d5;
    margin-bottom: 20px;
  }

}

footer h4.bold{
  font-size: 22px;
}

footer h5{
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6, p, div.par{
  margin-left: 0;
  margin-bottom: 5px;
  margin-top: 5px;
}

.panel{
  border-radius: 3px;
  position: relative;
}

.panel-body{
  padding: 16px;
}

.card-id, .current-page{
  display: none;
}

@media only screen and (max-width: 600px) {
    .padding-clear{
      padding-left: 0px;
      padding-right: 0px; 
    }
}

.card-times{
  position: relative;
}

.card-times div.open-time{
  position: absolute;
  background-color: #EC2228 !important;
  right: 7.5%;
  padding: 110px 10px 10px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  height: 175px;
  width: 200px;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-times div.open-time p{
  font-size: 14px;
  color: #fff;
}

@media only screen and (max-width: 768px) {

  .card-times{
    position: absolute;
    left: 50%;
  }
  .card-times div.open-time{
    position: relative;
    left: -50%;
    font-size: 12px;
    height: 140px;
    padding-top: 80px;
  }
}

@media only screen and (max-width: 480px) {

  .card-times{
    position: absolute;
    left: 50%;    
  }

  .card-times div.open-time{
    position: relative;
    left: -50%;
    font-size: 12px;
    height: 125px;
    padding-top: 65px;
  }
}

/*Header */
.navbar-collapse{
  padding-left: 30px;
}

.navbar-right{
  margin-right: 10px;
}

.navbar-toggle{
  margin-top: 20px;
  color: #EC2228;
}

.logo-header{
  width: 150px;
  margin-left: 0;
  margin-top: -10px;
}

@media only screen and (max-width: 768px) {
  .logo-header{
    width: 120px;
  }
} 

.navbar-custom .nav li a.header-title-line2:hover,
.navbar-custom .nav li a.header-title-line2:focus{
  color: rgba(0, 0, 0, 1);
}

.navbar-custom .nav li a.header-title-line2:active{
  color: rgba(0, 0, 0, 0.87);
}

.navbar-custom .nav li a.header-title-tickets{
  opacity: 0.6;
  color: #EC2228 ;
}

.navbar-custom .nav li a.header-title-tickets:hover,
.navbar-custom .nav li a.header-title-tickets:focus{
  opacity: 1;
  color: #EC2228 ;
}

.dropdown-menu li a{
  color: rgba(0,0,0,0.87) !important;
  text-indent: 10px;
}

.flag{
  cursor: pointer;
  height: 50px;
  /*opacity: 1;*/
}
.flag:hover,
.flag:focus{
 /* opacity: 0.8;*/
  cursor: pointer;
}

h5.caption-content {
    /*font-size: 24px;*/
    width: 80%;
}

.navbar{
  background-color: #fff !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-custom{
  margin-top: -15px;
}

.is-visible{
  margin-top: 8px;
}

.narrow-row{
  margin-top: 0;
  padding-top: 0;
}

.navbar-brand{
  margin-top: 15px;
}

.navbar-brand-shadow{
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: -1;
  width: 150px;
  height: 150px;
  color: #fff;
  position: absolute;
  top: 16.7%;
}

.navbar-custom ul.nb-main{
  margin-top: -25px;
  text-transform: uppercase;
}

.navbar-collapse,
.navbar-form{
  margin-top: 15px;
}

.navbar-collapse a{
  color: rgb(0, 0, 0, 0.87);
}

.navbar-custom .nav li a{
  padding-right: 5px;
  padding-left: 0;
}

.nav-container{
  background-color: #fff;
}

.navbar-custom .nav li a.nb-main{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}

.navbar-custom .nav li a.nb-second{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}

li.dropdown ul.dropdown-menu li a{
  margin-left: 0;
  list-style: none;
}

.home-banner{
  height: auto;
  width: 100%;
  padding: 0;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 1);
}

.home-banner-content{
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  position: absolute;
  z-index: 1;
  padding-top: 16%;
  padding-left: 10%;
  background-color: rgba(0, 0, 0, 0.6);
}

.home-banner-content h2.display{
  color: #fff;
  font-size: 60px;
}

.home-banner-content p.lead,.home-banner-content div.par.lead{
  color: #fff;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
}

h3.display.card-ride{
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 30px;
}

h4.display.card-info{
  margin-top: 0;
  margin-left: -15px;
}

.img-home-rides{
    width: 100%;
    overflow: hidden;
}

.banner{
  position:relative;
  }

.banner-inner{
  position:relative;
  width:100%;
  overflow:hidden;
}

@media only screen and (max-width: 768px) {
  .home-banner-content{
    padding-top: 10%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .home-banner-content h2.display{
    text-align: center;
  }

  .home-banner-content p.lead, .home-banner-content div.par.lead{
    width:100%;
    text-align: center;
  }

  .home-banner-content p.banner-resto{
    width: 100%;
  }
}

.home-title-banner{
  padding-top: 28%;
}

.home-title-banner h1.display{
  text-align: center;
  color: #fff;
  margin: 0;
}

a.home-play-banner{
  color: #fff;
  font-size: 70px;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.home-play-banner:hover,
a.home-play-banner:focus{
  color: #e6e6e6;
}

@media only screen and (max-width: 768px) {
  .home-title-banner{
    padding-top: 60%;
  }
}

.intro-banner-content{
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  position: absolute;
  z-index: 1;
  padding-top: 25%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.intro-banner-content h1.display{
  size: 60px;
  color: #fff;
}

.intro-banner-content p.lead, .intro-banner-content div.par.lead{
  size: 18px;
  color: #fff;
}

.intro-banner-content .icon{
  height: 50px;
}

@media only screen and (max-width: 1200px) {
  .intro-banner-content{
    padding-top: 18%;
  }

  .intro-banner-content p.lead, .intro-banner-content div.par.lead{
    color: #fff;
    font-size: 16px;
  }

  .intro-banner-content .icon{
    height: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .intro-banner-content{
    padding-top: 40%;
  }

  .intro-banner-content p.lead, .intro-banner-content div.par.lead{
    color: #fff;
    font-size: 14px;
  }

  .intro-banner-content .icon{
    height: 40px;
  }
}

/*Footer*/

a.footer-news-title {
  font-family: bold :'Open Sans', sans-serif ;
  font-weight: 600;
  color: #f2797d ;
}
a.footer-news-title:hover,
a.footer-news-title:focus{
  color: #f2797d ;
}

.footer-news-title h5{
  font-size: 18px;
  margin-bottom: 0;
}

.footer-top header time{
  font-size: 14px;
}

p.footer-news, div.par.footer-news{
  font-size: 14px;
  line-height: 18px;
}

div.content-footer{
    height: 185px;
    text-overflow: auto;
}

.follow{
  margin-top: 30px !important; 
}

.socmed-footer{
  opacity: 0.5
}

.socmed-footer:hover,
.socmed-footer:focus{
  opacity: 1;
  cursor:pointer;
  text-decoration: none;
}

.socmed-footer img{
  width: 36px;
}

.footer-top{
  padding: 7.5px;
  margin-top: 10px;
}

.footer-top article{
  height: 275px;
  width: 275px;
}

.footer-top h5{
  margin-top: 0;
}

.footer-top nav a{
  font-size: 14px;
  margin-bottom: 15px;
}

.footer-bottom{
  border-top: 2px solid #fbd5d5;
  /*margin: 15px 0 0 0;*/
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eeeeee;
}

.footer-bottom-logo{
  margin: 15px 0 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.footer-bottom img{
  height: 18px;
}

.footer-bottom-logo img{
  margin-left: auto;
  margin-right: auto;
}

.footer-left{
  float: left;
  margin: 0;
}

.footer-right{
  float: right;
  margin: 0;
}

@media only screen and (max-width: 478px) {
  .footer-left{
    float: none;
    text-align: center;
  }

  .footer-right{
    float: none;
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  
  /*header*/
  .logo-header{
    margin-left: 5%;
    width: 120px;
    margin-top: 10px;
  }

  /*footer*/
  footer .footer-border{
    border-right: 2px solid  #fbd5d5;
    margin-bottom: 20px;
  }
}


@media only screen and (max-width: 768px) {

  h5.caption-content {
    width: 80%;
      text-align: center;
      /*font-size: 16px;*/
  }
  .ghost-btn{
      margin:30px auto;
      text-align: center;
  }

  /*footer*/
  footer .footer-border:not(:last-child){
    border-right: none;
    border-bottom: 2px solid  #fbd5d5;
  }
  footer .footer-border{
    border-right: none;
  }
}

.bg-white{
  background-color: #fff;
}

.bg-grey{
  background-color: #fafafa;
}

video.vid-background{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform:translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
}

video.vid-popup{
  position: fixed;
  top: 53%;
  left: 50%;
  width: 88%;
  height: 88%;
  -webkit-transform:translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);`
  background-size: cover;
  -webkit-transition: 1s opacity;
}

/* POPUP WINDOW FOR VIDEO */
.popup{
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,.6);
  top: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
}

.window{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.popup:target{
  visibility: visible;
}
/* POPUP */

.video-banner{
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-title{
  padding-top: 27.5%;
  padding-bottom: 5%;
}

.video-title h1.display{
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 80px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.video-title p.lead, .video-title div.par.lead{
  color: #fff;
}

.video-title .icon-play{
  height: 60px;
  margin-top: 25px;
  fill: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.btn-play{
  opacity: 1;
}

.btn-play:hover,
.btn-play:focus{
  opacity: 0.76;
}

.panel:not(.video-div):not(.video-bottom):not(.div-panel):hover{
  -webkit-box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.24), 0 1px 15px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.24), 0 1px 15px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.video-bottom .panel-body{
  padding: 35px 10px 35px 10px;
  text-align: center;
}

.video-bottom .panel-body span,
.divider span{
  margin-left: 15px;
  margin-right: 15px;
}

@media only screen and (max-width: 360px){
  .video-bottom .panel-body span,
  .divider span{
    margin-left: 0;
    margin-right: 0;
  }
}

.video-bottom .bottom-caption{
  font-size: 18px;
}


@media only screen and (max-width: 768px) {

  .video-title{
    padding-top: 28%;
    padding-bottom: 5%;
  }

  .video-title h1.display{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 70px;
  }

}

@media only screen and (max-width: 480px) {
  .video-bottom .panel-body{
    padding: 25px 10px 25px 10px;
    text-align: center;
  }

  .video-title{
    padding-top: 45%;
    padding-bottom: 15%;
  }

  .video-title h1.display{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 60px;
  }

  .video-title img.icon-play{
    height: 50px;
    margin-top: 25px;
  }

}

.card-header{
  padding: 10px;
}

.ride-home-cards a,
.info-cards-home a,
.resto-cards a,
.shows-cards a,
.news-cards a{
  text-decoration: none;
}

.shows-cards .panel .shows-content{
  height: 150px;
}

img.rides-icon{
  width: 35px;
}

p.card-text , div.par.card-text{
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
}

.card-btn-more{
  margin: 6px 10px 0px -5px;
  padding: 0;
}

.card-btn-more a{
  margin: 0 0 6px 0;
  padding: 7px;
  font-weight: 600;
}

/* MAIN link */

.main h5{
  margin:0;
}

.main .panel .panel-body{
  padding-bottom: 5px;
}

.main .row.clean-panel .panel .panel-body{
  padding-bottom: 15px;
}

.main a.btn-more:hover,
.main a.btn-more:focus{
  color: #EC2228 !important;
  background-color: #fde4e5 !important;
}

/* BUTTON */

a.btn-footer-news{
  text-decoration: none;
  color: #EC2228 ;
}

a.btn-footer-news:hover,
a.btn-footer-news:focus{
  text-decoration: underline;
  color: #EC2228 ;
}

a.btn-more{
  background-color: transparent;
  color: #EC2228 !important;
}

a.btn-more:hover,
a.btn-more:focus{
  color: #EC2228 !important;
  background-color: #fde4e5 !important;
}

.btn-bg-red{
  border-radius: 0;
  background-color: #EC2228 !important;
  color: #FFF !important;
  font-size: 18px;
  font-weight: 500 !important;
  min-width: 88px;
}

.btn-bg-red:hover,
.btn-bg-red:focus{
  background-color: #d50000 !important;
  color: #FFF !important; 
}

.btn-footer-rekreasi{
  background-color: transparent;
  border: 2px solid #EC2228 !important;
  border-radius: 3px;
  margin: 5px;
  color: #ec2228 !important;
  width: 140px;
  padding: 6.5px;
}

.btn-footer-rekreasi:hover,
.btn-footer-rekreasi:focus{
  background-color: #EC2228 !important;
  text-decoration: none;
  color: #fff !important;
}

.btn-raised{
  border-radius: 3px;
}

.ghost-btn{
  margin:10px auto;
}

.ghost-btn a{
  min-width: 88px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFF !important;
  border: 2px solid #fff;
  border-radius: 3px;
  font-weight: 400;
  font-size: 18px;
}

.ghost-btn a:hover,
.ghost-btn a:focus{
    background-color: #fff !important;
    color: #000 !important;
}

.btn.btn-raised{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.btn.btn-raised.share{
  color: #000;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500 !important;
  min-width: 157px;
}

.btn.btn-raised:hover,
.btn.btn-raised:focus{
  color: #000;
}

.btn.btn-flat{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #ec2228;
  min-width: 64px;
  min-height: 36px;
  margin: 8px;
  border-radius: 5px;
}

.btn-learnmore:hover,
.btn-learnmore:focus{
  background-color: rgba(236, 34, 40, 0.2);
}

.buy-tickets{
  margin: 20px 0 0 0;
  min-width: 50px;
  padding: 7px 14px 7px 14px;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  background-color: #ec2228 !important;
}

.buy-tickets:hover,
.buy-tickets:focus{
  background-color: #e00000 !important;
  color: #fff !important;
}

button.btn.red,
input[type='submit'].btn.red{
  background-color: #EC2228!important;
  color: #fff;
}

button.btn.red:hover,
button.btn.red:focus,
input[type='submit'].btn.red:hover,
input[type='submit'].btn.red:focus{
  background-color: #e00000 !important;
  color: #fff;
}

button.btn.yellow{
  background-color: #FFF100;
  color: #fff;
}

button.btn.yellow:hover,
button.btn.yellow:focus{
  background-color: #dbcf03 !important;
  color: #fff;
}

button.btn.blue{
  background-color: #2f318d;
  color: #fff;
}

button.btn.blue:hover,
button.btn.blue:focus{
  background-color: #1f217a !important;
  color: #fff;
}

button.btn.green{
  background-color: #00a14c;
  color: #fff;
}

button.btn.green:hover,
button.btn.green:focus{
  background-color: #007d3b !important;
  color: #fff;
}

.text-red{
  color: #EC2228 !important;
}

.text-red:hover,
.text-red:focus{
  color: #e00000 !important;
}

.text-yellow{
  color: #FFF100;
}

.text-blue{
  color: #2f318d !important;
}

.text-blue:hover,
.text-blue:focus{
  color: #2a2c7b !important;
}

.text-green{
  color: #00a14c !important;
}

.text-green:hover,
.text-green:focus{
  color: #01803d !important;
}

.text-grey{
  color: rgba(0, 0, 0, 0.54);
}

.btn-group button.btn{
  min-width: 150px;
}

@media only screen and (max-width: 480px){
  .btn-group{
    margin:0;
  }
}

@media only screen and (max-width: 360px){
  .btn-group{
    margin-left: 25%;
    margin-right: 25%;
  }
}

h1.bold,
h2.bold,
h3.bold,
h4.bold{
  font-family: 'Oleo Script', cursive ;
  margin: 0; 
  line-height: 1.5;
}

h4.bold{
  font-size: 24px;
}

/* Font Spec Desktop */
@media only screen and (min-width: 992px) {
  h1.display{
    font-size: 80px;
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h2.display{
    font-size: 60px;
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h3.display{
    font-size: 30px;
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h4.display{
    font-size: 24px;
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h1{
    font-size: 42px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
  }

  h2{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
  }

  h3{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
  }

  h4{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
  }

  p, div.par{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  p.lead, div.par.lead{
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  a{
    color: #000;
  }

  a:hover,
  a:focus{
    color: #e00000;
  }
}

/* Font Spec Tablet */
@media only screen and (max-width: 992px) {
  h1.display{
    font-size: 70px;
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h2.display{
    font-size: 50px;
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h3.display{
    font-size: 30px;
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h4.display{
    font-size: 24px;
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h1{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h2{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h3{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h4{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  p, div.par{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  p.lead, div.par.lead{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

}

/* Font Spec Phone */
@media only screen and (max-width: 768px) {
  
  .tickets-page{
    text-align: center;
  }

  h1.display{
    font-size: 60px;
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h2.display{
    font-size: 40px;
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h3.display{
    font-size: 30px;
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h4.display{
    font-size: 24px;
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h1{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h2{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h3{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h4{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  p , div.par{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  p.lead, div.par.lead{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

}

@media only screen and (min-width: 992px) {
  .bg-banner img.icon{
    height:75px;
  }
}

@media only screen and (max-width: 992px) {
  .bg-banner img.icon{
    height:50px;
  }
}

.tickets-page h3{
  font-size: 25px;
}


/* NEWS */

.panel-news{
  height: 275px;
  overflow-y: auto;
}

@media only screen and (max-width: 1366px){
  .panel-news{
    height: 220px;
    overflow-y: auto;
  }

}

@media only screen and (max-width: 1280px){
  .panel-news{
    height: 200px;
    overflow-y: auto;
  }
  
}

@media only screen and (max-width: 1024px){
  .panel-news{
    height: 150px;
    overflow-y: auto;
  }
  
}

/* NEWS SINGLE */

#main .news-img{
  margin-top: 5%;
  margin-bottom: 5%;
}

/* RESTAURANTS */
.panel p.restaurants, div.par.restaurants{
  height:5%;
}

.card-resto-content{
  padding-bottom: 0;
  padding-top: 0;
}

/* RIDES */
button.rides{
  font-size:0.6em;
}

/* TICKETS */

input[name='tiket']{
  width:40px;
  text-align:center;
  height:37px;
  border-radius:3px;
}

.btn-custom{
  padding: 3px 8px;
}

a.itemId{
  color:#000;
  padding:10px;
  border-radius: 5px;
}

a.itemId:hover,
a.itemId:focus{
  background-color: #f2f2f2;
  text-decoration: none;
}

.panel-group.tickets{
    margin:1px;
}

.panel-group.tickets p{
    margin-top: 0;
}


/* SHOPPING CART */
input[name='ticket'].value.cart{
  width: 35px;
  text-align: center;
  height: 32px;
  border-radius: 3px;
}

table tr.item td{
  vertical-align: middle;
}

.cart-col-1{
  width: 45%;
}

.cart-col-2{
  width: 15%;
}

.cart-col-3{
  width: 20%;
  text-align: center;
}

.cart-col-4{
  width: 15%;
}

.cart-col-5{
  width: 5%;
}

.total-cart p, .total-card div.par{
  font-size: 24px;
  margin-top: 10px;
}

.total p, .total div.par{
  font-weight: bold;
}

.checkout-cart{
  margin: 0 auto;
}

.card-display{
  padding: 10px 15px 0 15px;
}

.card-display img{
  height: 35px;
}

.checkout-smile{
  font-size:200px;
}

.bottom-btn button{
  width: 250px;
}

/* Share Button - Card */

.card-share{
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.92);
  top: 0%;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  visibility: hidden;
}

.social-share-btn a{
  margin: 0;
  text-decoration: none;
}

.social-share-btn img, .modal-share img{
  width: 45px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.social-share-btn img:hover, .modal-share img:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.modal-share{
  width: 15%;
  padding: 0;
}

.modal-share .panel-body{
  padding: 8px;
}

.modal-share h5{
  margin-top: 10%;
}

.modal-share a{
  margin: 0;
  text-decoration: none;
}

.modal-close a.btn{
  width: 55px;
  padding: 0;
}

p.home-card-info,
p.card-info,
div.par.home-card-info,
div.par.card-info{
  font-size: 14px;
  line-height: 18px;
}

.info-home{
  height: 215px;
  margin-top: 20px;
}

.info-home h4.display.card-info{
  margin-top: 0;
  margin-left: 0;
}

h6.ops{
  font-size: 16px;
}

.practical-info{
  height: 200px;
}

.practical-info h4.display{
  margin-bottom: 15px;
}

button.modal-detail{
  display: none;
}

.show-modal-info{
  text-decoration: none;
  cursor: pointer;
}

.row.buttons button{
  width: 200px;
}

.btn.btn-raised{
  background-color: #fff;
}

.btn.btn-raised.white{
  color: #000;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500 !important;
  min-width: 157px;
}

a .panel p , a .panel div.par{
  text-decoration: none;
}

/* FORM */


/*= input focus effects css
=========================== */
:focus{outline: none;}

.col-effect{float: left; width: 95%; margin: 20px 3%; position: relative;} /* necessary to give position: relative to parent. */
input,textarea,select{font: 18px/28px "Open Sans", sans-serif;font-weight: 300 ; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
 
.effect-label{border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}

.effect-label ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #EC2228; opacity: 0.6; transition: 0.4s;}
.effect-label:focus ~ .focus-border,
.has-content.effect-label ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}
.effect-label ~ label{position: absolute; left: 0; width: auto; top: 9px; color: #aaa; transition: 0.3s; z-index: 1; letter-spacing: 0.5px;}
.effect-label:focus ~ label, .has-content.effect-label ~ label{top: -16px; font-size: 12px; color: #EC2228; transition: 0.3s;}
/*= input focus effects css End
=============================== */

.rides-cat-content{
  height: 100px;
}

s {
  font-size: 18px;
}

.terms{
  overflow-y: scroll;
  height: 400px;
  resize: none;
}

.btn-terms {
  pointer-events: auto !important;
}