textarea{
	resize:vertical;
}
table tr th{
	text-align: center;
}

.pd-l{
	padding-left: 0;
}
.pd-r{
	padding-right: 0;
}
.image_content{
	width: 100px;
	margin:0 auto;
	display: block;
}
.btn_add_position{
	margin-top: -5px;
}

.big_image{
	height: 15em;
	width: 100%;
}

.small_image{
	height: 15em;
	margin: 0 auto;
	display: block; 
}

/*v_master*/
.flag_size{
	height: 51px;
	margin-top: -3px;
}
/* Home */
.video-size{
	margin:0 auto;
	display: block;
	height: 25em;
}
.bg-black1{
	background-color: #000;
}
.color-red{
	color: #FF0000;
}

.home_image{
	height: 25em;
	width: 97%;
}


/*News*/
.news_add{
	display: none;
}

/*Kiosks*/
.kiosk_image{
	height: 30em;
	width: 100%;
}

/*resataurants*/
/*.restaurants_add{
	display: none;
}*/