h1.bold,
h2.bold,
h3.bold,
h4.bold{
  font-family: 'Oleo Script', cursive ;
  margin: 0; 
  line-height: 1.5;
}

a.btn-footer-news{
  text-decoration: none;
  color: #EC2228 ;
}

a.btn-footer-news:hover,
a.btn-footer-news:focus{
  text-decoration: underline;
  color: #EC2228 ;
}

a.btn-more{
  background-color: transparent;
  color: #EC2228 !important;
}

a.btn-more:hover,
a.btn-more:focus{
  /*text-decoration: underline;*/
  color: #EC2228 !important;
  background-color: #fde4e5 !important;
}

@media only screen and (max-width: 768px) {
    .padding-clear{
    padding: 0; 
    }
}

.img-home-rides{
   /* height: 10em;*/
    width: 100%;
    overflow: hidden;
}

.home-img-shows{
    height: 33em;
    width: 100%;
    z-index: 1;
}

/*Header */
.navbar-right{
  margin-right: 0;
}


.logo-header{
  width: 150px;
  margin-left: 0;
  margin-top: -10px;
}

@media only screen and (max-width: 768px) {
  .logo-header{
    width: 120px;
  }
} 

.navbar-custom .nav li a.header-title-line2:hover{
  color: rgba(0, 0, 0, 1);
}

.navbar-custom .nav li a.header-title-line2:active{
  color: rgba(0, 0, 0, 0.87);
}

.navbar-custom .nav li a.header-title-tickets{
  opacity: 0.6;
  color: #EC2228 ;
}

.navbar-custom .nav li a.header-title-tickets:hover,
.navbar-custom .nav li a.header-title-tickets:focus{
  opacity: 1;
  color: #EC2228 ;
}

.flag{
  cursor: pointer;
  height: 18px;
  /*opacity: 1;*/
}
.flag:hover,
.flag:focus{
 /* opacity: 0.8;*/
  cursor: pointer;
}

/*dividers*/


.bd-rds{
  border-radius: 5px;
}

/*carousel3*/


h5.caption-content {
    /*font-size: 24px;*/
    width: 80%;
}

/*Footer*/

a.footer-news-title {
  font-family: bold :'Open Sans', sans-serif ;
  font-weight: 600;
  color: #f2797d ;
}
a.footer-news-title:hover,
a.footer-news-title:focus{
  color: #f2797d ;
}

/*a.btn-footer-tiket{
  background-color: #EC2228 ;
  border: 2px solid #EC2228 ;
  color: #fff ;
  margin-top: 20px;
  padding: 0px 10px ; 
}

a.btn-footer-tiket:hover,
a.btn-footer-tiket:focus{
  background-color: #FFF ;
  opacity: 0.8;
  color: #EC2228 ;
  text-decoration: none;
}
*/


footer{
  margin-top: 0;
  padding-top: 15px;
}

footer .footer-border:not(:last-child){
  border-right: 2px solid  #fbd5d5;
  border-bottom: 0;
}

.follow{
  margin-top: 20px ; 
}

.socmed-footer{
  opacity: 0.5
}

.socmed-footer:hover,
.socmed-footer:focus{
  opacity: 1;
  cursor:pointer;
  text-decoration: none;
}

.socmed-footer img{
  width: 36px;
}

.footer-top{
  padding: 7.5px;
  margin-top: 10px;
}

.footer-top h5{
  margin-top: 0;
}

.footer-bottom{
  background-color: #fff;
  border-top: 2px solid #fbd5d5;
  margin: 15px 0 0 0;
}

.footer-left{
  float: left;
  margin: 0;
}

.footer-right{
  float: right;
  margin: 0;
}

@media only screen and (max-width: 478px) {
  .footer-left{
    float: none;
    text-align: center;
  }

  .footer-right{
    float: none;
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {

  /*footer*/
  footer .footer-border{
    border-right: 2px solid  #fbd5d5;
    margin-bottom: 20px;
  }
  .video{
    margin-top: 550px;
  }
    /*.video .div-wrapper2 >.btn-play{
      top:60%;
    }*/
    .video .div-wrapper3 >.mid{
      top:55%;
    }
}

@media only screen and (max-width: 992px) {
  
  /*header*/
  .logo-header{
    margin-left: 5%;
    width: 120px;
    margin-top: 10px;
  }
  .video{
    margin-top: 100px;
  }
  /*footer*/
  footer .footer-border{
    border-right: 2px solid  #fbd5d5;
    margin-bottom: 20px;
  }
}


@media only screen and (max-width: 768px) {
  /*carousel3*/
  .title-captions3 {
      text-align: center;
      font-size: 45px;
      padding-top: 50%;
  }
  h5.caption-content {
    width: 80%;
      text-align: center;
      /*font-size: 16px;*/
  }
  .ghost-btn{
      margin:30px auto;
      text-align: center;
  }
  .video{
    margin-top: 50px;
  }

  .card{
    margin-top: 50px;
  }
  
  .div-wrapper1{
    position: absolute;
    left: 50%;
    font-size: 14px;
    /*width: 80%;*/
  }
  .div-wrapper1 >h5.caps{
    position: relative;
    left: -50%;
    font-size: 14px;
  }

  .div-wrapper2{
    position: absolute;
    left: 50%;

  }
  .video .div-wrapper2 >.btn-play{
    position: relative;
    left: -50%;
    margin-left: 0;
  }
  .video .div-wrapper2 >.btn-play>.fa{
    font-size: 2em;
  }
  
  .div-wrapper3{
    position: absolute;
    left: 10%;
    font-size: 40px;
    width: 80%;
  }
  .video .div-wrapper3 >.mid{
    /*position: relative;*/
    /*left: -50%;*/
  }

  .video-footer{
    font-size: 0.8em;
  }
  .video-footer>span>a>h5{
    font-size: 1.1em;
    padding: 5px auto;
  }

  .dividers span,
  .carsel span{
    font-size: 0.8em;
  }

  /*footer*/
  footer .footer-border:not(:last-child){
    border-right: none;
    border-bottom: 2px solid  #fbd5d5;
  }
  footer .footer-border{
    border-right: none;
    /*border-bottom: 2px solid  #fbd5d5;*/
  }
}

@media only screen and (max-width: 625px) {
  .video .div-wrapper3 >.mid{
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 480px) {
  .div-wrapper2{
    top:43%;
  }

  .div-wrapper3{
    top:30%;
  }
  .video .div-wrapper3 >.mid{
    font-size: 1em;
  }

}