h1.bold,
h2.bold,
h3.bold{
  font-family: 'Oleo Script', cursive;
  margin: 0; 
}

h4.ops-b,
h5.ops-b,
h6.ops-b{
  font-family: bold :'Open Sans', sans-serif;
  font-weight: 600;
}

h4.ops,
h5.ops,
h6.ops{
  font-family: bold :'Open Sans', sans-serif;
}


.color-red{
  color: #f2797d;
}

/*Header */
.navbar-right{
  margin-right: 3%;
}

.logo-header{
  width: 37%;
  margin-left: 15%;
  margin-top: -10px;
}

.navbar-custom .nav li a.header-title-line2{
  font-weight: 700;
  opacity: 0.6;
}

.navbar-custom .nav li a.header-title-line2:hover,
.navbar-custom .nav li a.header-title-line2:focus{
  font-weight: 700;
  opacity: 1;
}

.navbar-custom .nav li a.header-title-tikets{
  font-weight: 700;
  opacity: 0.6;
  color: #ff0000;
}

.navbar-custom .nav li a.header-title-tikets:hover,
.navbar-custom .nav li a.header-title-tikets:focus{
  font-weight: 700;
  opacity: 1;
  color: #ff0000;
}

.flag{
  cursor: pointer;
  height: 20px;
  /*opacity: 1;*/
}
.flag:hover,
.flag:focus{
 /* opacity: 0.8;*/
  cursor: pointer;
}

/*Footer*/

a.news-news-t h4{
  font-family: bold :'Open Sans', sans-serif;
  font-weight: 600;
  color: #f2797d;
}
a.news-news-t:hover,
a.news-news-t:focus{
  color: #f2797d;
}

a.btn-footer-news{
  background-color: transparent;
  color: #ff0000;
}

a.btn-footer-news:hover,
a.btn-footer-news:focus{
  text-decoration: underline;
  color: #ff0000;
}

a.btn-footer-tiket{
  background-color: #ff0000;
  color: #fff;
  margin-top: 20px;
}

a.btn-footer-tiket:hover,
a.btn-footer-tiket:focus{
  /*background-color: #46489e;*/
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

a.btn-footer-rekreasi{
  background-color: #FFF;
  border: 2px solid #ff0000;
  border-radius: 0;
  margin: 10px;
  color: #ec2228;
}


a.btn-footer-rekreasi:hover,
a.btn-footer-rekreasi:focus{
  border: 2px solid #ff0000;
  background-color: #ff0000;
  text-decoration: none;
  color: #ffffff !important;
}

footer .footer-border:not(:last-child){
  border-right: 2px solid  #fbd5d5;
  border-bottom: 0;
}

.follow{
  margin-top: 50px !important; 
}

.fa-footer{
    opacity: 0.5
}
.fa-footer:hover,
.fa-footer:focus{
  opacity: 1;
  cursor:pointer;
  text-decoration: none;
}

.footer-last{
  background-color: #eee;
  border: 2px solid #fbd5d5;
  margin: 30px 0 0 0;
}

@media only screen and (max-width: 1200px) {

  /*footer*/
  footer .footer-border{
    border-right: 2px solid  #fbd5d5;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 992px) {

  /*footer*/
  footer .footer-border{
    border-right: 2px solid  #fbd5d5;
    margin-bottom: 20px;
  }
}


@media only screen and (max-width: 768px) {

  /*footer*/
  footer .footer-border:not(:last-child){
    border-right: none;
    border-bottom: 2px solid  #fbd5d5;
  }
  footer .footer-border{
    border-right: none;
    /*border-bottom: 2px solid  #fbd5d5;*/
  }
}

@media only screen and (min-width: 768px) {

  /*header*/
  /*.container-fluid>.navbar-collapse, 
  .container-fluid>.navbar-header, 
  .container>.navbar-collapse, 
  .container>.navbar-header{
    margin-top: 20px;
  }*/
}

.footer-left{
  float: left;
}

.footer-right{
  float: right;
}

@media only screen and (max-width: 478px) {
  .footer-left{
    float: none;
    text-align: center;
  }

  .footer-right{
    float: none;
    text-align: center;
  }
}